{% extends "layout.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
{% endwith %}
  <main class="section-about">
    <h2>About Learning Flask</h2>
    <p>In learning Flask, you will build an app that lets you find </br>
      new places around you.  With this app you can find places you </br>
      like, and discover new points of interest wherever you are.</p>
  </main>
{% endblock %}
