<!DOCTYPE html>
{% block head %}
<html xmlns="http://www.w3.org/1999/xhtml" style="background-color: lightgrey">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/mapbox.css" />
    <link rel="stylesheet" href="static/css/style.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title name="title">The Beacon</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="News for Now"/>
    <meta name="description" content="Mission Critical OSINT from Crispy">
    <!--<meta http-equiv="Refresh" content="10; url = links.html" />-->
    <meta name="author" content="Jesse Bacon" />
  </head>
{% endblock %}
  <body>
    <div id="banner">
      <p id="banner-text">
      <h1 class="title-text">The Beacon</h1>
      </p>
      <ol name="focus">
    </div>
    <div class="body-content">
    {% block content %}
    {% endblock %}
    </div>
  </body>
</br ></br ></br >
{% block footer %}
<footer>
  <div class="bottom-section">
    <ul class="nav-list bottom-nav">
      <li><a href="/">Home</a></li>
      <li><a href="news">News</a></li>
      <li><a href="weather">Weather</a></li>
      <li><a href="map">Maps</a></li>
      <li><a href="login">Log In</a></li>
      <li><a href="signup">Sign Up</a></li>
    </ul>
  </div>
</footer>
{% endblock %}
