{% extends "base.html"%}
{% block content %}
  <h3 class="FYIR"><b>Under Construction</b><h3>
  <p class="landing-text">Have a look at our maps application</br >
    (powered by leaflet.js and mapbox) or our notes</br >
    demo display while we work on the weather</br >
    and data connectors.
  </br ></br >
    At the moment the maps application is limited to results</br >
    which do not contain an accented character.</br>
    This will be fixed when the site goes to production.
  </br ></br ></br ></br ></br ></br ></br ></br ></br ></p>
{% endblock %}
{{ footer }}
