<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Leaflet Demo 1</title>
    <h1>Leaflet Example 1</h1>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
    <link rel="stylesheet" href="../static/css/example.css" />
    <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map = L.map('map').setView([51.505, -0.09], 13);

      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'jessembacon.cife9m4fe6n36s4m77kiziom7',
        accessToken: 'pk.eyJ1IjoiamVzc2VtYmFjb24iLCJhIjoiY2lmZTltNWtxNm45N3Nka25oemYyMTR2ayJ9.KO9WX6mjk98MygbRB_yzmA';
      }).addTo(map);


    </script>
  </body>
    <footer>
    </footer>
</html>
