{% extends "base.html" %}
{% block content %}
<div id="humbleList">
  <dt name="FYIR" class=FYIR><b>Under Construction</b></dt>
</div>
<div id="dataSources">
<d1>
</d1><dt name="FYIR" class=FYIR><b>FYIR</b></dt>
</div>
{% endblock %}

{% block footer %}
<footer>
  <div class="bottom-section">
    <ul class="nav-list bottom-nav">
      <li><a href="/">Home</a></li>
      <li><a href="news">News</a></li>
      <li><a href="weather">Weather</a></li>
      <li><a href="map">Maps</a></li>
      <li><a href="login">Log In</a></li>
      <li><a href="signup">Sign Up</a></li>
    </ul>
  </div>
</footer>
{% endblock %}
