{% extends "base.html" %}
{% block content %}
<div id="humbleList">
  <dt name="FYIR" class=FYIR><b>FYIR</b></dt>
  <ol>
  <li>Omissions and Errors for Cosmic Clocking</li>
    <ul>
      <li>Interstellar Guided Instrumentation</li>
      <li>Boson Mass and The Grand Unified Theory</li>
      <li>Calculating Field Depth for Gravitic Projections</li>
      <li>Quasar Alignment and Gravitic Projections</li>
    </ul>
  <li>The Environment</li>
  <li>Intellectual Property Rights in Clandestine Operations</li>
  <li>People with Talent</li>
    <ul>
      <li>Researchers</li>
      <li>Athletes</li>
    </ul>
</ol>
</div>
<div id="dataSources">
<d1>
  <dt name="sources" class=sources><b>The Wire</b></dt>
  <ol>
    <li>Radiography</li>
    <ul><li>Mesh Sensor Grids</li></ul>
    <li>Seismology</li>
    <ul><li>Stationary Grid Platforms</li></ul>
    <li>Recall Data</li>
    <ul><li>DevOps Sources</li></ul>
    <li>Life Expectancy</li>
    <ul><li>HIPAA Compliance in International Affairs</li></ul>
    <li>Currency Distributions</li>
    <ul><li>Public and Private Sector Aqcuisition Methods</li></ul>
  </ol>
</d1>
</div>
{% endblock %}

{% block footer %}
<footer>
  <div class="bottom-section">
    <ul class="nav-list bottom-nav">
      <li><a href="/">Home</a></li>
      <li><a href="news">News</a></li>
      <li><a href="weather">Weather</a></li>
      <li><a href="map">Maps</a></li>
      <li><a href="login">Log In</a></li>
      <li><a href="signup">Sign Up</a></li>
    </ul>
  </div>
</footer>
{% endblock %}
